I know this is the same dataset all-together again. But now in this one I'll use a little more professional approach and I'll perform data 
pre-processing before loading the data so that we can have a cleaner code.

In [9]:
#Let's import all the necessary modules/libraries.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import *
from sklearn.model_selection import train_test_split

Let's load in the data.
Now we'll perform two things.
1 --> We'll drop the columns which do not contain numerical values.
2 --> We'll replace all the NaN values with 0.
3 --> We'll perform a train_test_split.
4 --> Replace {0:female, 1:male} --> Since our dataset is an excel file this step was done using MSExcel but can also be done using .replace()

In [16]:
df = pd.read_excel("titanic.xlsx")
#1
df = df.drop(columns=["name", "home.dest", "cabin", "embarked", "ticket", "boat", "body" ], axis=1)
#2
df = df.fillna(0)
#3
train , test = train_test_split(df, test_size=0.2)

In [17]:
#let's see ki jo humaari koshish thi kya vo kaamyaab hui
train.head()
# ----- HAAN KAAMYAAB HUE HUM ------- (Translation: Yes we're successful)

      pclass  survived  sex   age  sibsp  parch     fare
730        3         0    1  27.0      0      0   7.8958
847        3         0    1  23.5      0      0   7.2292
223        1         0    1   0.0      0      0   0.0000
270        1         1    0  18.0      1      0  60.0000
1083       3         0    1  28.0      0      0  22.5250

In [18]:
#let's see the shapes of training and testing data.
print("Shape of training data: ", train.shape)
print("Shape of testing data: ", test.shape)

Shape of training data:  (1047, 7)
Shape of testing data:  (262, 7)

In [ ]:
#Now in this step we'll separate both training and testing data's independent and predictor variables.