I know this is the same dataset all-together again. But now in this one I'll use a little more professional approach and I'll perform data 
pre-processing before loading the data so that we can have a cleaner code.

In [23]:
#Let's import all the necessary modules/libraries.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

Let's load in the data.
Now we'll perform two things.
1 --> We'll drop the columns which do not contain numerical values.
2 --> We'll replace all the NaN values with 0.
3 --> We'll perform a train_test_split.
4 --> Replace {0:female, 1:male} --> Since our dataset is an excel file this step was done using MSExcel but can also be done using .replace()

In [24]:
df = pd.read_excel("titanic.xlsx")
#1
df = df.drop(columns=["name", "home.dest", "cabin", "embarked", "ticket", "boat", "body" ], axis=1)
#2
df = df.fillna(0)
#3
train , test = train_test_split(df, test_size=0.2)

In [25]:
#let's see ki jo humaari koshish thi kya vo kaamyaab hui
train.head()
# ----- HAAN KAAMYAAB HUE HUM ------- (Translation: Yes we're successful)

     pclass  survived  sex   age  sibsp  parch      fare
169       1         0    0  50.0      0      0   28.7125
955       3         0    0   0.0      3      1   25.4667
844       3         0    1  28.0      1      0   15.8500
110       1         0    1  30.0      0      0   27.7500
173       1         0    1  32.5      0      0  211.5000

In [26]:
#let's see the shapes of training and testing data.
print("Shape of training data: ", train.shape)
print("Shape of testing data: ", test.shape)

Shape of training data:  (1047, 7)
Shape of testing data:  (262, 7)

In [27]:
#Now in this step we'll separate both training and testing data's independent and predictor variables.
train_x = train.drop(columns=["survived"], axis=1)
train_y = train["survived"]
test_x = test.drop(columns=["survived"], axis=1)
test_y = test["survived"]

In [29]:
#Let's now fit the model into Naive Bayes.
model = GaussianNB()
model.fit(train_x, train_y)

GaussianNB()

In [30]:
#Now let's perform prediction on training data.
predict_train = model.predict(train_x)
print("Predictions made on training data: ", predict_train)

Predictions made on training data:  [1 0 0 ... 0 0 1]

In [31]:
#Now let's perform prediction on testing data.
predict_test = model.predict(test_x)
print("Predictions made on testing data: ", predict_test)

Predictions made on testing data:  [0 0 1 0 0 0 0 0 0 1 1 0 1 1 1 0 1 1 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 1 1 1 1
 0 0 0 0 1 0 1 0 0 0 0 1 1 1 0 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 0
 1 1 1 1 0 1 0 0 1 0 0 1 0 1 1 1 1 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 0 1 0 1 0 0 1 1 0 0 0 1 0 0 0 0 0 1 0 0 0
 0 0 0 1 0 1 0 1 0 1 1 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 0 1 1 0 0 1 1 0 1 0
 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 1 1 0 0 0 0 1 1 1 0 1 1
 0 0 1]

In [32]:
#Let's check the accuracy_score on testing and training data.
print("Accuracy on training data is : ", accuracy_score(train_y, predict_train))
print("Accuracy on testing data is: ", accuracy_score(test_y, predict_test))

Accuracy on training data is :  0.7765042979942693
Accuracy on testing data is:  0.7786259541984732